// Dark Theme
$dark-background-color: hsl(0, 0%, 5%);

// Dark Theme
$light-background-color: hsl(0, 0%, 95%);

// header
$header-background-color: hsla(0, 0%, 15%, 0.3);
$header-tab-hover-background-color: hsla(0, 0%, 15%, 0.3);

// main content header
$main-content-header-background-color: hsla(0, 0%, 15%, 0.3);;
$filter-text-color: hsl(0, 0%, 60%);
$filter-text-color-hover: hsl(0, 0%, 100%);

// art piece card
$card-title-color: hsl(0, 0%, 95%);
$card-title-color-hover: hsl(0, 0%, 100%);